{% extends 'blog/base.html' %}
{% load static %}

{% block title %} Archive{% endblock %}

{% block content %}

{% if entry_list %}
    <ul>
    {% for entry in entry_list reversed %}
        <li>
          <div class="columns">
          <div class="column is-one-third subtitle">
              Title: <a href="{% url 'blog:detail' entry.slug %}" >{{ entry.title }}</a>
          </div>
          <div class="column is-one-third subtitle">
              Category: <a href="/categories/{{ entry.category.slug }}/" >{{ entry.category }}</a>
          </div>
          <div class="column is-one-third subtitle">
              Date: {{ entry.pub_date }}
          </div>
        </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>The archive is empty</p>
{% endif %}
{% endblock %}
