{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dan Stam Blog</title>
    <link rel="shortcut icon" href="{% static 'blog/images/scribe.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link href="{% static 'blog/style.css' %}" rel="stylesheet" type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'blog/animate.js' %}"></script>
  </head>

   <body>

     <nav class="navbar is-fixed-top is-transparent has-background">

       <div class="navbar-brand">
         <a id ="title" class="navbar-item" href="{% url 'blog:index' %}">
           <h1 class = "title headingText">Dan Stam Blog</h1>
         </a>
         <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
           <span></span>
           <span></span>
           <span></span>
         </div>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="{% url 'blog:about' %}">
            About
          </a>
          <a class="navbar-item" href="{% url 'blog:archive' %}">
            Archive
          </a>
          <a class="navbar-item" href="{% url 'blog:contact' %}">
            Contact
          </a>
        </div>
      </div>

    </nav>
    <section class = "section section-is-top">
      <br/>
      <br/>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter is-content">
           <h1 class = "title text-is-center" >{% block title %}{% endblock %}</h1>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </section>

    <footer style = "background-color: black">
    <p class = "text-is-center" style = "color: white">&copy; 2018 Daniel Stambler</p>
  </footer>

  </body>
</html>
